__pycache__/
*.py[cod]
*.egg-info/

.DS_Store
.env
.venv/

logs/
saved/
images/
outputs/
results/

.cache/
wandb/

metrics/models/*.pth
metrics/models/*.pt
metrics/models/*.safetensors
metrics/models/*.bin
